.header {
  padding: 0;
  margin: 0;
  color: #333;
  
  nav {
  display: block;
    
  }
  nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 1.5rem;
    padding: .5rem 0;
    
    > li {
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;

      &.placeholder {
         flex-grow: 1;
       }
       
      &:first-of-type a {
        font-weight: bold;
      }
      
      >  a, > span {
        display: block;
        height: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
      }
      
      &:last-of-type {
        margin-right: 0;
      }
      
      img {
        height: 1rem;
      }
    }

    a:not(.active):visited, a:not(.active):link {
      color: #333;
    }
    
    .dropdown {
      font-size: 1rem;
    }

  }
}
