.activities {
  padding: 0;
  
  .activity {
    list-style-type: none;
    border-left: .5rem solid #ddd;
    #box-shadow: $shadow;
    #background: white;
    #border-radius: $border-radius;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    
    h3 {
      margin: 0;
    }
    
    .post {
      margin-bottom: 0;
    }
  }
}