.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  > * {
    flex-basis: 0;
    flex-grow: 1;
    _padding: 0 .5rem;
    
    &:last-child {
      text-align: right;
    }
  }
  
  
  > .half {
    flex-grow: .5;
  }
  > .compact {
    flex-basis: auto;
    flex-grow: 0; 
  }
  > .double {
    flex-grow: 2;
  }
  > .triple {
    flex-grow: 3;
  }

}