li.search {
  display: block !important;
  text-align: right;
}

#search {
  background-color: transparent; 
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: right;
  border: 0;
  padding: 0 1.3em 0 0;
  text-align: right;
  width: 100%;
  //height: 1.9rem;
  overflow: hidden;
  font-size: inherit;
  color: black;
  font-weight: 100;
  font-family: "Titillium Web";

  &:focus, &:hover, & {
    background-image: url(image_path("magnifier.svg"));
  }
}