.has-dropdown {
  position: relative;

  > .dropdown {
    list-style-type: none;
    border: 0.1em solid gray;
    position: absolute;
    top: 100%;
    right: 0;
    
    > li {
      
    }
  }
}

