<h2>Editing RoleType</h2>

<%= render 'form' %>

<td><%= link_to 'Löschen', @role_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'Show', @role_type %> |
<%= link_to 'Back', role_types_path %>
