html {
  font-family: "noto sans";
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: $resolution;
  letter-spacing: 0.01em;
}

html, body {
   padding: 0;
   margin: 0;
}

body {
  
}

* {
     box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #a50;
}

ul > li {
  list-style-type: square;
}